@charset "utf-8";


/* 首页 start */
.home-page{
    min-height: 100%;
    background-color: rgb(255, 106, 106);
}
/* 首页 end */





/* 注册 start */
.login-page{
    min-height: 100%;
    background-color: rgb(62, 162, 255);
}
/* 注册 end */